body{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    margin-right: 32px;
}

a{
    text-decoration: none;
    
}

a:hover{
    background-color: dodgerblue;
  color: #fff;
    
}

img{
    width: 400px;
}

.first{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.logo{color: #f9faf8; font-size:25px;
margin-left: 32px;}


.presentation{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    flex-wrap: wrap;
    padding:32px;
    padding-bottom: 80px;
    
}

.leftpresentation{
    width: 450px;
    height: 300;
    
}

.awesome{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext{
    text-align: justify;
    margin: 8px 0;
}

.grey{
    color: #e5e7eb;
    font-size: 18px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }

/* visual divisor */

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;

   
}

.header-two{
    display: flex;
    padding: 32px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.cardimage{
    width: 250px;
}

.text{width: 250px;
margin-top: 8px;}

.grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



